<main>
    <h3>Click some Colors!</h3>
    <section class="shapesContainer">
        <app-colorclicker-shape>   
        </app-colorclicker-shape>
        <app-colorclicker-shape>   
        </app-colorclicker-shape>
        <app-colorclicker-shape>   
        </app-colorclicker-shape>
        <app-colorclicker-shape>   
        </app-colorclicker-shape>
        <app-colorclicker-shape>   
        </app-colorclicker-shape>
        <app-colorclicker-shape>   
        </app-colorclicker-shape>
        <app-colorclicker-shape>   
        </app-colorclicker-shape>
        <app-colorclicker-shape>   
        </app-colorclicker-shape>
        <app-colorclicker-shape>   
        </app-colorclicker-shape>
        
    </section>
</main>
