<body>
  
  <app-header
    *ngIf="loggedIn"
  >
  </app-header>

  <h1>Delve into the Aether</h1>

  <section >
    <app-click-btn
    text="Show Counter"
    (btnClick)="toggleShowCounter()"
    >
    </app-click-btn>

    <app-click-btn
    text="Show Color Clicker"
    (btnClick)="toggleShowColor()"
    >
    </app-click-btn>

    <app-click-btn
    text="Show Calculator"
    (btnClick)="toggleShowCalc()"
    >
    </app-click-btn>

  </section>

  <section
    *ngIf="counterShow"
    class="learningSection"
  >
    <app-counter>

    </app-counter>
  </section>


  <section
    *ngIf="colorclickerShow"
    class="learningSection"
  >
    <app-colorclickers
    
    >

    </app-colorclickers>
  </section>

  <section
    *ngIf="calculatorShow"
    class="learningSection"
  >
    <app-calculator
    
    >

    </app-calculator>
  </section>

</body>